/*page */
    .about {
        text-align: center;
        font-style: italic;
        font-size: 26px;
    }
     

    body {
        background-image: url("travel.jpg");
        background-repeat: no-repeat;
        background-size: 2000px;
    }

    .team {
        text-align: left;
    
    }

    .description {
        margin-left: auto;
    }

    .mission {
        text-align: center;
        font-stretch: condensed;
    }